<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <extensions>
            <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
            <behaviorExtensions>
                <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </behaviorExtensions>
            <bindingElementExtensions>
                <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </bindingElementExtensions>
            <bindingExtensions>
                <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
                <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </bindingExtensions>
        </extensions>
    </system.serviceModel>
    <appSettings>
        <!-- Service Bus specific app setings for messaging connections -->
		<add key="EventHubPath" value="azbetlogs5" />
		<add key="EventHubConnectionString" value="" />
		<add key="EventProcessorStorageConnectionString" value="" />
		<add key="EventProcessorLeaseContainerName" value="telemetryprocessor" />
		<add key="EventProcessorConsumerGroupName" value="eventhubconsole" />
		<add key="ElasticSearchUri" value="http://localhost:9200" />
		<add key="ElasticSearchUserName" value="" />
		<add key="ElasticSearchPassword" value="" />
		<add key="Environment" value="elasticsearchv2" />
		
		
		<!-- kusto settings -->
		<add key="KustoConsumerGroupName" value="kusto-reader" />
		<add key="KustoTelemetryServiceEndpoint" value="https://dc.services.visualstudio.com/v2/track" />
		<add key="KustoInstrumentationKey" value="7a09a359-5c1f-472a-96a6-ca4ad8acf594" />
		<!-- comma separated list of storage account keys for blob uploading -->
		<add key="KustoStorageAccountKeys" value="DefaultEndpointsProtocol=https;AccountName=73uo2adhcnf4gkusto2;AccountKey=5Ud2MY7O6np29Qfg+6HGLWyyySPLwteJ4RY6d0ppQ4DVfwH4/Y9MRljkmqScpVCta77eyCrj27DAvw0Lc1WenQ==,DefaultEndpointsProtocol=https;AccountName=g53o4vwmcrszukusto4;AccountKey=OOwQobs5t5WFQeDdnwlOITx+Lo9812hxWCGb4zQpSYqmdsTJV7zP8XDWtOlPvQKiK9qfmD5kiNIPZwj7XaIwjA==,DefaultEndpointsProtocol=https;AccountName=jra43jtxlqw3kkusto0;AccountKey=47pinHNSP0RCkoRmDFY9bYjuS5lInRmQVVKZhi8UPTgdDSKmKd42fx8Jr/gHXS2R7CSiwHKe5sez7eLPUM0xlA==,DefaultEndpointsProtocol=https;AccountName=kbmd7y36v5jjekusto3;AccountKey=nBKn0D1lu2tKUxlhgLw/P38keHGPe1+tCOodY+UAkdLz+YzEN1mRbZbTAA3dl11Tn4bXZJr9h23yi2ED+YdDNg==,DefaultEndpointsProtocol=https;AccountName=mezb7ahtrbluskusto1;AccountKey=BUNUjXGLB60M4Tkrp90QhJSI+BCf3PX4ZihoB5Akp5gB5CDuqcygVR2Q70nLlNN6RCDeQDMby0FEH0W/rUEamQ==" />
		<add key="KustoBaseContainerName" value="kusto-logs" />
		<add key="KustoBlobMemoryBufferSizeInBytes" value ="20971520"/>
		<!-- TODO gzip vs append?  local path for state etc?-->
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>