<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="2.3.1" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Azure.ServiceBus.EventProcessorHost" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Serilog" version="1.5.14" targetFramework="net452" />
  <package id="Serilog.Sinks.AzureEventHub" version="1.5.6" targetFramework="net452" />
  <package id="Serilog.Sinks.AzureTableStorage" version="1.5.14" targetFramework="net452" />
  <package id="Serilog.Sinks.Elasticsearch" version="3.0.134" targetFramework="net452" />
  <package id="SerilogTraceListener" version="1.0.17" targetFramework="net452" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="3.2.3" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net452" />
</packages>