<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="LogEnabledLoggers" value="" />
		<add key="LogAzureTableConnectionString" value="" />
		<add key="LogAzureTableName" value="" />
		<add key="LogElasticSearchUri" value="http://azbetes.chinaeast.cloudapp.chinacloudapi.cn:9200" />
		<add key="LogElasticSearchUserName" value="" />
		<add key="LogElasticSearchPassword" value="" />
		<add key="LogEventHubConnectionString" value="" />
		<add key="LogEventHubName" value="" />
		<add key="LogInternalExceptionsStorageConnectionString" value="" />
		<add key="LogInternalExceptionsContainerName" value="serilogexceptions" />
		<add key="LogKafkaUri" value="" />
		<add key="LogKafkaUserName" value="" />
		<add key="LogKafkaPassword" value="" />
		<add key="Environment" value="" />
		<add key="EventProcessorStorageConnectionString" value="BlobEndpoint=https://azbetdeployment.blob.core.chinacloudapi.cn/;TableEndpoint=https://azbetdeployment.table.core.chinacloudapi.cn/;AccountName=azbetdeployment;AccountKey=khWAFmHEKmDGvVjnsg3jJ0n1tDpN2DU0z4vDo8kC1eHMOy7/yZVP+UZNAFdMXDVV4G13f/Tzw0qZchQ/hDEx2A==" />
		<add key="EventProcessorStorageLeaseContainer" value="azbet-sf" />
		<add key="EventProcessorConsumerGroupName" value="jiwag-test" />
		<add key="AwsEventProcessorConsumerGroupName" value="" />
		<add key="InputEventHubConnectionString" value="Endpoint=sb://azbetservicebus.servicebus.chinacloudapi.cn/;SharedAccessKeyName=Manager;SharedAccessKey=b3ttHCm5DJtRWWK2CSjn3SMSZxPE5Z9r6zbcvgEt60g=" />
		<add key="InputEventHubName" value="azbeteventhub" />
		<add key="OutputElasticSearchUri" value="http://azbetes.chinaeast.cloudapp.chinacloudapi.cn:9200" />
		<add key="OutputElasticSearchUsername" value="" />
		<add key="OutputElasticSearchPassword" value="" />
		<add key="AWSElasticSearchUri" value="" />
		<add key="AWSElasticSearchUsername" value="" />
		<add key="AWSElasticSearchPassword" value="" />

		<!-- kusto settings (all settings prefixed with "Kusto" by convention-->

		<!-- values with sensible defaults -->
		<add key="KustoConsumerGroupName" value="kusto-reader" />
		<add key="KustoBaseContainerName" value="kusto-logs" />
		<add key="KustoBlobMemoryBufferSizeInBytes" value ="20971520" />
		<add key="KustoCompressBlobs" value="true" />
		<add key="KustoLogSchemaId" value="" />
		<add key="KustoInteractionsSchemaId" value="" />

		<!-- settings with secrets or env specific values -->
		<add key="KustoTelemetryServiceEndpoint" value="" />
		<add key="KustoInstrumentationKey" value="" />

		<!-- comma separated list of storage account keys for blob uploading -->
		<add key="KustoStorageAccountKeys" value="" />
	</appSettings>
	<system.serviceModel>
		<extensions>
			<!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
			<behaviorExtensions>
				<add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</behaviorExtensions>
			<bindingElementExtensions>
				<add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</bindingElementExtensions>
			<bindingExtensions>
				<add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</bindingExtensions>
		</extensions>
	</system.serviceModel>
	<runtime>
		<gcServer enabled="true" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Serilog.Sinks.Elasticsearch" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
